
*.bak
*.log*
*.pid
*.tmp
*.tmp.*
*logs.db*
*updater.txt*
remote/
storage/

#config/sonarr/
config/sonarr/logs/
config/sonarr/xdg/
config/sonarr/Backups/
!config/sonarr/config.xml
!config/sonarr/sonarr.db
!config/sonarr/sonarr.db-shm
!config/sonarr/sonarr.db-wal
config/sonarr/MediaCover/

#config/radarr/
config/radarr/logs/
config/radarr/MediaCover/
config/radarr/Backups/
!config/radarr/config.xml
!config/radarr/sonarr.db
!config/radarr/sonarr.db-shm
!config/radarr/sonarr.db-wal

#config/jackett/Jackett/
config/jackett/Jackett/log.txt*
!config/jackett/Jackett/ServerConfig.json
!config/jackett/Jackett/Indexers

#config/bazarr/
config/bazarr/cache
config/bazarr/config/releases.txt
!config/bazarr/config
!config/bazarr/db
config/bazarr/config/throttled_providers.dat

#config/transmission/
!config/transmission/settings.json
!config/bazarr/db
config/transmission/blocklist-update.sh
config/transmission/blocklists
config/transmission/dht.dat
config/transmission/resume
config/transmission/stats.json

#config/organizr/www/organizr
config/organizr/www/db/backups
config/organizr/log

config/emby/logs
config/emby/cache
config/emby/data/ScheduledTasks
config/emby/metadata/people
config/emby/metadata/library
config/emby/metadata/genres
config/emby/data/devices
config/emby/config/ScheduledTasks
config/emby/metadata/
config/emby/data/activitylog*

config/portainer/bin
config/portainer/certs
config/portainer/compose
config/portainer/tls
config/bazarr/backup
config/jackett/Jackett/DataProtection
config/radarr/asp
config/transmission/torrents
config/organizr/www/db/organizrLog.json
config/deluge/ssl
config/deluge/state
config/deluge/session.state
config/deluge/stats.totals
config/portainer/docker_config
config/prowlarr/Backups
config/prowlarr/logs
config/prowlarr/asp
config/deluge/archive
config/prowlarr/Definitions
config/sonarr_/.config/.mono
config/emby/data/livetv/seriestimers.json
config/emby/data/livetv/timers.json

config/qbittorrent/config/rss
config/qbittorrent/qBittorrent/BT_backup
config/qbittorrent/qBittorrent/GeoDB
config/qbittorrent/qBittorrent/nova3
config/qbittorrent/qBittorrent/rss